<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDeOFr7uBkKvnQ4xk-Oonmm8sI-UHmsz-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>638924416992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gp.Atsight</string>
	<key>PROJECT_ID</key>
	<string>atsight</string>
	<key>STORAGE_BUCKET</key>
	<string>atsight.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:638924416992:ios:5aeb0b441731d79d32ed85</string>
</dict>
</plist>
